# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

{% set mongo_path = context_dir  ~ '/' ~ "mongo" %}

# Where and how to store data.
storage:
  dbPath: {{ mongo_path }}/dbPath
#  engine:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ mongo_path }}/log/mongod.log

# network interfaces
net:
  port: 27017
  bindIp: 127.0.0.1
  unixDomainSocket:
    pathPrefix: {{ mongo_path }}/unixDomainSocket



# how the process runs
processManagement:
  timeZoneInfo: /usr/share/zoneinfo

#security:

#operationProfiling:

#replication:

#sharding:

## Enterprise-Only Options:

#auditLog: